@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    background: black;
    height: 55px;
    z-index: 1000;
}

header #header-logo {
    height: 100%;
    width: auto;
}

header h1 {
    padding-left: 50px;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 12%;
    transform: translate(-70%, -97%);
}

header .options {
    justify-content: space-between;
    margin-right: 50px;
}

header .options a {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    z-index: 1;
}

header {
    position: fixed;
    top: 0;
    left: 5%;
    width: 90%;
    background: linear-gradient(70deg, rgba(8, 25, 34, 0.500), rgba(14, 45, 61, 0.500));
    color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px #181717;
} 

main {
    margin-top: 100px;
}

.body1 {
  background-image: url("../assets/fond.png");
  height: 1000px;
}

.body2 {
  background: linear-gradient(70deg, #0e1e30cc, #90959bcc);
  height: 1000px;
}

.body1 p {
    padding-top: 15%;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    color: #000000;
}

.body2 p {
  padding-top: 15%;
  margin: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  color: #000000;
}

.content-overlay {
    display: flex;
    flex-direction: line;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

.parallax {
    position: relative;
    background-image: url("../assets/banner2.webp");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    height: 80vh;
}

.container_inf1 p {
    width: 40%;
    margin-right: 10%;
    color: white;
    font-size: 130%;
}

.sec_rectangle {
  background-image: url("../assets/Capture d’écran du 2024-05-31 00-27-07.png");
  width: 25%;
  height: 500px;
  margin-left: 5%;
  margin-right: 5%;
}

.sec_rectangle2 {
  background-image: url("../assets/Capture d’écran du 2024-05-31 00-28-54.png");
  width: 25%;
  height: 500px;
  margin-left: 5%;
  margin-right: 5%;
}

.sec_rectangle3 {
  background-image: url("../assets/Capture d’écran du 2024-05-31 00-31-59.png");
  width: 25%;
  height: 500px;
  margin-left: 5%;
  margin-right: 5%;
}

.circle, .main {
  position: absolute;
  width: 15%;
  height: 30%;
  border-radius: 50%;
  transition: all 0.5s ease;
  margin-left: 60%;
  margin-top: -250px;
}

.circle {
  background-image: url("../assets/profile_pic.jpg");
  background-size: cover;
  background-position: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0s linear 0.5s;
}

.content-overlay:hover .circle {
  opacity: 0;
  visibility: hidden;
}

.content-overlay:hover .main {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}


.up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}
  
.down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}
  
.card1 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}
  
.linkedin {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: #03A9F4;
}
  
.card2 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}
  
.twitter {
    margin-top: 1.5em;
    margin-left: -.9em;
    fill: #03A9F4;
}
  
.card3 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}
  
.github {
    margin-top: -.6em;
    margin-left: 1.2em;
}
  
.card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}
  
.discord {
    margin-top: -.9em;
    margin-left: -1.2em;
    fill: #8c9eff;
}
  
.card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #03A9F4;
}
  
.card1:hover .linkedin {
    fill: white;
}
  
.card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #03A9F4;
}
  
.card2:hover .twitter {
    fill: white;
}
  
  .card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: black;
}
  
.card3:hover .github {
    fill: white;
}
  
.card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #8c9eff;
}
  
.card4:hover .discord {
    fill: white;
}
  
.ui-btn {
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  padding: 15px 20px;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #fff;
  font: 600 16px Menlo,Roboto Mono,monospace;
  background: rgb(41, 41, 41);
  border: none;
  cursor: pointer;
  transition: .3s;
  overflow: hidden;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.137);
  margin-left: 5px;
}
  
.ui-btn span {
    letter-spacing: .1rem;
    transition: .3s;
    box-sizing: border-box;
    position: relative;
    background: inherit;
  }
  
.ui-btn span::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    background: inherit;
  }
  
.ui-btn:hover, .ui-btn:focus {
    background: rgb(51, 51, 51);
  }
  
.ui-btn:hover span, .ui-btn:focus span {
    color: #FAC921;
  }
  
.ui-btn:hover span::before, .ui-btn:focus span::before {
    animation: chitchat linear both 1.2s;
  }
  
  @keyframes chitchat {
    0% {
      content: "#";
    }
  
    5% {
      content: ".";
    }
  
    10% {
      content: "^{";
    }
  
    15% {
      content: "-!";
    }
  
    20% {
      content: "#$_";
    }
  
    25% {
      content: "№:0";
    }
  
    30% {
      content: "#{+.";
    }
  
    35% {
      content: "@}-?";
    }
  
    40% {
      content: "?{4@%";
    }
  
    45% {
      content: "=.,^!";
    }
  
    50% {
      content: "?2@%";
    }
  
    55% {
      content: "\;1}]";
    }
  
    60% {
      content: "?{%:%";
      right: 0;
    }
  
    65% {
      content: "|{f[4";
      right: 0;
    }
  
    70% {
      content: "{4%0%";
      right: 0;
    }
  
    75% {
      content: "'1_0<";
      right: 0;
    }
  
    80% {
      content: "{0%";
      right: 0;
    }
  
    85% {
      content: "]>'";
      right: 0;
    }
  
    90% {
      content: "4";
      right: 0;
    }
  
    95% {
      content: "2";
      right: 0;
    }
  
    100% {
      content: "";
      right: 0;
    }
  }

.text {
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Courier New', sans-serif;
    color: #121833;
    text-align: left;
    margin-left: -30%;
    margin-bottom: 50px;
    margin-top: -150px;
}

.button {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #151c3d;
  transition: all 0.2s ease;
}

.button:active {
  transform: scale(0.96);
}

.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #151c3d 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #151c3d 20%, transparent 30%),
    radial-gradient(circle, #151c3d 20%, transparent 20%),
    radial-gradient(circle, #151c3d 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #151c3d 15%, transparent 20%),
    radial-gradient(circle, #151c3d 20%, transparent 20%),
    radial-gradient(circle, #151c3d 20%, transparent 20%),
    radial-gradient(circle, #151c3d 20%, transparent 20%),
    radial-gradient(circle, #151c3d 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #151c3d 20%, transparent 20%),
    radial-gradient(circle, #151c3d 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #151c3d 15%, transparent 20%),
    radial-gradient(circle, #151c3d 20%, transparent 20%),
    radial-gradient(circle, #151c3d 20%, transparent 20%),
    radial-gradient(circle, #151c3d 20%, transparent 20%),
    radial-gradient(circle, #151c3d 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.text2 {
  font-size: 1.85em;
  font-weight: 600;
  font-family: 'Courier New', sans-serif;
  color: #ffffff;
  text-align: left;
  margin-bottom: 50px;
  margin-top: -150px;
}

.classic-link {
  text-decoration: none;
  color: black;
  font-size: 20x;
  margin-bottom: -600px;
  margin-left: -400px;
}

.classic-link2 {
  text-decoration: none;
  color: black;
  font-size: 20x;
  margin-bottom: -600px;
  margin-left: -400px;
}

.classic-link3 {
  text-decoration: none;
  color: black;
  font-size: 20x;
  margin-bottom: -600px;
  margin-left: -400px;
}

.classic-link3:hover {
  text-decoration: underline;
  color: #03A9F4;
}

.classic-link2:hover {
  text-decoration: underline;
  color: #03A9F4;
}

.classic-link:hover {
  text-decoration: underline;
  color: #03A9F4;
}
